<div class="container">
    <mat-toolbar>
        <span class="text">Editar Funcionario</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" (ngSubmit)="modificarFuncionario()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field clas="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombre" [value]="nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="5">
                    <mat-form-field clas="ancho">
                        <mat-label>Fecha de Nacimiento</mat-label>
                        <input  matInput [matDatepicker]="picker" formControlName="fechaNacimiento" [value]="fechaNacimiento">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>    
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field clas="ancho">
                        <mat-label>Apellidos</mat-label>
                        <input matInput autocomplete="off" formControlName="apellidos"  [value]="apellidos">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field clas="ancho">
                        <mat-label>Nombre de Usuario</mat-label>
                        <input matInput autocomplete="off" formControlName="loginName"  [value]="loginName">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field clas="ancho">
                        <mat-label>Contraseña</mat-label>
                        <input matInput autocomplete="off" formControlName="password"  [value]="password">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field appearance="fill">
                        <mat-label>Sexo</mat-label>
                        <mat-select [formControlName]="idSexo"  [value]="selectedProfile" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let sexo of sexos" [value]="sexo.idSexo" >
                                {{sexo.descripcion}}
                            </mat-option>
                          
                                </mat-select>
                        <mat-error *ngIf="idSexo.hasError('required')">Por favor escoja el sexo</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field appearance="fill">
                        <mat-label>Departamento</mat-label>
                        <mat-select [formControl]="idDepartamento" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let departamento of departamentos" [value]="departamento.idDepartamento" >
                                {{departamento.descripcion}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="idDepartamento.hasError('required')">Por favor escoja el departamento</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button style="margin-right: 20px;">Volver</button>
                    <button type="submit" mat-raised-button class="button">Editar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>

