<div class="container">
    <mat-toolbar>
      <span>Funcionario</span>
      <div class="example-spacer"></div>
        <button mat-raised-button color="primary" routerLink="/dashboard/crear-funcionario">AGREGAR</button>
    </mat-toolbar>

    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="idFuncionario">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.idFuncionario}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="apellidos">
            <th mat-header-cell *matHeaderCellDef> Apellidos </th>
            <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
        </ng-container>

        <ng-container matColumnDef="loginName">
            <th mat-header-cell *matHeaderCellDef> Login Name </th>
            <td mat-cell *matCellDef="let element"> {{element.loginName}} </td>
        </ng-container>

        <ng-container matColumnDef="departamento">
            <th mat-header-cell *matHeaderCellDef> Departamento </th>
            <td mat-cell *matCellDef="let element"> {{element.idDepartamento}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element; let i = index">
                <a class="pointer"  (click)="manageFuncionario(element.idFuncionario)" style="color:#1f516f" matTooltip="Editar funcionario">
                    <mat-icon>edit</mat-icon>
                </a>
                <a class="pointer" (click)="eliminarfuncionario(element.idFuncionario)" style="color:#e15639" matTooltip="Eliminar funcionario">
                    <mat-icon>delete</mat-icon>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>