<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Gestión de proyectos
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Solicitud</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Cambios</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>Avances</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>Reportes</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>Cubo</span>
        </button>


        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-list-item [matMenuTriggerFor]="menu" class="menu-button">
                <mat-icon>help</mat-icon>
                <span> Mantenimientos</span>
            </mat-list-item>
            <mat-menu #menu="matMenu" class="menu-button">
              <button mat-button routerLink="/dashboard/mantenimiento" class="menu-button">Sexo</button>
              <button mat-menu-item class="menu-button" ><span> Trimestre</span></button>
              <button mat-menu-item class="menu-button" ><span> Departamento</span></button>
              <button mat-menu-item class="menu-button" ><span> Funcionario</span></button>
              <button mat-menu-item class="menu-button" ><span> Transacción</span></button>
            </mat-menu>
        </button> 
        <mat-divider></mat-divider>


       


  <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            Main content here!
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>