.example-spacer {
    flex: 1 1 auto;
  }

  .tamano {
    font-size:13px;
    padding-top: 15px
  }
  .color{
    /* background: rgb(196,171,227);
    background: linear-gradient(90deg, rgba(196,171,227,0.9864320728291317) 13%, rgba(124,0,255,0.8127626050420168) 83%); */
    background: rgb(246,145,145);
    background: linear-gradient(90deg, rgba(246,145,145,0.7959558823529411) 0%, rgba(196,171,227,1) 37%, rgba(124,0,255,0.7203256302521008) 100%);
    color: #EDE7E3;

  }